body {
  height: 952px;
  background-image: url("./assets/mountain.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.circles {
  transform: rotate(90deg);
}

.row {
  display: flex;
  flex: 0 1 100%;
}

.circle {
  width: 4px;
  height: 4px;
  background: #fff;
  margin: 18px 26px;
  border-radius: 50%;
  transform-origin: top center;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(0.2);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0) scale(1.1);
  }
  50% {
    transform: rotate(180deg) scale(0.2);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}
.row:nth-child(1) {
  margin-left: 450px;
}
.row:nth-child(1) .circle {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.row:nth-child(2) {
  margin-left: 400px;
}
.row:nth-child(2) .circle {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.row:nth-child(3) {
  margin-left: 350px;
}
.row:nth-child(3) .circle {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.row:nth-child(4) {
  margin-left: 300px;
}
.row:nth-child(4) .circle {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.row:nth-child(5) {
  margin-left: 250px;
}
.row:nth-child(5) .circle {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.row:nth-child(6) {
  margin-left: 200px;
}
.row:nth-child(6) .circle {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.row:nth-child(7) {
  margin-left: 200px;
}
.row:nth-child(7) .circle {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.row:nth-child(8) {
  margin-left: 233px;
}
.row:nth-child(8) .circle {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.row:nth-child(9) {
  margin-left: 267px;
}
.row:nth-child(9) .circle {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.row:nth-child(10) {
  margin-left: 302px;
}
.row:nth-child(10) .circle {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.row:nth-child(11) {
  margin-left: 338px;
}
.row:nth-child(11) .circle {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.row:nth-child(12) {
  margin-left: 375px;
}
.row:nth-child(12) .circle {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.row:nth-child(13) {
  margin-left: 413px;
}
.row:nth-child(13) .circle {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.row:nth-child(14) {
  margin-left: 452px;
}
.row:nth-child(14) .circle {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.row:nth-child(15) {
  margin-left: 492px;
}
.row:nth-child(15) .circle {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.row:nth-child(16) {
  margin-left: 533px;
}
.row:nth-child(16) .circle {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.row:nth-child(17) {
  margin-left: 575px;
}
.row:nth-child(17) .circle {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}

.row:nth-child(18) {
  margin-left: 575px;
}
.row:nth-child(18) .circle {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.row:nth-child(19) {
  margin-left: 590px;
}
.row:nth-child(19) .circle {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}

.row:nth-child(20) {
  margin-left: 605px;
}
.row:nth-child(20) .circle {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.row:nth-child(21) {
  margin-left: 620px;
}
.row:nth-child(21) .circle {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.row:nth-child(22) {
  margin-left: 635px;
}
.row:nth-child(22) .circle {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}

.row:nth-child(23) {
  margin-left: 650px;
}
.row:nth-child(23) .circle {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
}

.row:nth-child(24) {
  margin-left: 665px;
}
.row:nth-child(24) .circle {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.row:nth-child(25) {
  margin-left: 665px;
}
.row:nth-child(25) .circle {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}/*# sourceMappingURL=index.css.map */