body {
  height: 952px;
  background-image: url("./assets/mountain.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(90deg);
  opacity: 0.6;
}

.col {
  display: flex;
}

.circle {
  width: 4px;
  height: 4px;
  background: #fff;
  margin: 15px 26px;
  border-radius: 50%;
  transform-origin: top center;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.col:nth-child(1) .circle {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.col:nth-child(2) .circle {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.col:nth-child(3) .circle {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.col:nth-child(4) .circle {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.col:nth-child(5) .circle {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.col:nth-child(6) .circle {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.col:nth-child(7) .circle {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.col:nth-child(8) .circle {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.col:nth-child(9) .circle {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.col:nth-child(10) .circle {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.col:nth-child(11) .circle {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.col:nth-child(12) .circle {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.col:nth-child(13) .circle {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.col:nth-child(14) .circle {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.col:nth-child(15) .circle {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.col:nth-child(16) .circle {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.col:nth-child(17) .circle {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}

.col:nth-child(18) .circle {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.col:nth-child(19) .circle {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}

.col:nth-child(20) .circle {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.col:nth-child(21) .circle {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.col:nth-child(22) .circle {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}

.col:nth-child(23) .circle {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
}

.col:nth-child(24) .circle {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.col:nth-child(25) .circle {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

.col:nth-child(26) .circle {
  -webkit-animation-delay: 2600ms;
          animation-delay: 2600ms;
}

.col:nth-child(27) .circle {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}

.col:nth-child(28) .circle {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms;
}

.col:nth-child(29) .circle {
  -webkit-animation-delay: 2900ms;
          animation-delay: 2900ms;
}

.col:nth-child(30) .circle {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.col:nth-child(31) .circle {
  -webkit-animation-delay: 3100ms;
          animation-delay: 3100ms;
}

.col:nth-child(32) .circle {
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
}

.col:nth-child(33) .circle {
  -webkit-animation-delay: 3300ms;
          animation-delay: 3300ms;
}

.col:nth-child(34) .circle {
  -webkit-animation-delay: 3400ms;
          animation-delay: 3400ms;
}

.col:nth-child(35) .circle {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

.col:nth-child(36) .circle {
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
}

.col:nth-child(37) .circle {
  -webkit-animation-delay: 3700ms;
          animation-delay: 3700ms;
}/*# sourceMappingURL=index.css.map */